.z-0 {
  z-index: 0 !important;
}
.mw-100 {
  max-width: 100vw !important;
}
.slick-track .sliderItem {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}
.slick-track .sliderItem2 {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(1.5rem / 2);
  padding-left: calc(1.5rem / 2);
  margin-top: var(--bs-gutter-y);
}
.react-tooltip {
  padding: 0px !important;
  border-radius: 3px;
  z-index: 200;
  font-size: 90%;
  width: max-content;
  background: none !important;
  opacity: 1 !important;
  & > * {
    padding: 0px !important;
    background: none !important;
  }
}

.por {
  z-index: 990;
  position: relative;
}
.overflow-hidden {
  overflow: hidden !important;
  transition: 0.5s;
}
.activeMenu {
  color: var(--success-color) !important;
}
.activeMenu2 {
  color: var(--success-color) !important;
  font-weight: 600 !important;
  font-size: larger !important;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}

.theme-bg {
  background: $theme-color !important;
}
.dark-bg {
  background: $body-color !important;
}
.light-bg {
  background: $smoke-color !important;
}
.grey-bg {
  background: $gray-color !important;
}
.theme-color {
  color: $theme-color !important;
}
.dark-color {
  color: $body-color !important;
}
.light-color {
  color: $smoke-color !important;
}
.font-body {
  font-family: $body-font !important;
}
.theme-shadow {
  text-shadow: 0px 0px 10px $theme-color !important;
}
.glow-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $theme-color;
  border-radius: 50%;
  box-shadow:
    0 0 5px $theme-color,
    0 0 10px $theme-color,
    0 0 20px $theme-color;
}
.align-end {
  margin-right: 0 !important;
  margin-left: auto !important;
}
.p-8{
  padding: 8rem 2rem;
}